/* basic setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #000;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 17px;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'PT Sans', 'Arial', sans-serif;
    color: #000;
    font-size: 17px;
}

h1 {
    font-family: 'PT Sans', 'Arial', sans-serif;
    color: #000;
    font-weight: bold;
}

h3 {
    font-family: 'PT Sans', 'Arial', sans-serif;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
}

h4 {
    font-family: 'PT Sans', 'Arial', sans-serif;
    color: #000;
    font-weight: bold;
}

/* map*/

.map {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.map-kita {
    height: 60vh;
    position: relative;
}

/* logo and menu on map */

.logo-menu-box {
    display: inline-block;
}

.logo-box {
    /*display: inline-block;*/
    position: absolute;
    top: -30px; 
    left: 50px; 
}

.menu-box {
    /*display: inline-block;*/
    position: absolute;
    top: 0px; 
    left: 30px; 
}

/* leaflet popups */

.leaflet-popup-content {
    color: #ffffff;
    background: #000;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 15px;
    text-align: center;
}

.leaflet-popup-content a:link,
.leaflet-popup-content a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

/*.leaflet-popup-content a:hover,
.leaflet-popup-content a:active {
    border-bottom: 1px solid #ffffff;
}*/

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #000;
    border-radius: 0;
}

/* kita-list */
.kita-list {
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* kita-detail*/

.kita-detail {
    background: linear-gradient(to bottom, #fff 0%, #fff 33%, rgb(243, 166, 167) 33%, rgb(243, 166, 167) 100%);
}

.kita-district-name {
    margin-top: 85px;
    padding: 30px 30px;
    color: #000;
}

.kita-district {
    text-transform: uppercase;
}

.kita-contact {
    margin-top: 70px;
    background-color: #000;
    color: #fff;
    padding: 30px 30px;
}

.kita-contact h3 {
    color: #fff;
}

.kita-img {
    margin-top: 140px;
}

.kita-contact ul {
    list-style-type: none;
}

.kita-contact a:link,
.kita-contact a:visited {
    color: #fff;
    text-decoration: none;
}

.kita-infos {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f7dc6f;
    padding: 30px 30px;
}

.kita-infos ul {
    list-style-type: none;
}
/*
/* For mobile phones: 
@media only screen and (max-width: 768px) {
    /* no logo on mobile 
    .logo-box {
        display: none;
    }
    .menu-box {
        display: none;
    }
     columns stacked 
    [class*="col-"] {
        width: 100%;
    } 
    /* no kita-img, less (no?) margins 
    .kita-img {
        display: none;
    }
    .kita-district,
    .kita-contact {
        margin-top: 0;
    }
}*/