/* basic setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #000;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 17px;
    text-rendering: optimizeLegibility;
}

h4 {
    letter-spacing: 2px;
}

/* map*/

.map {
    height: 100vh;
    position: relative;
}

.map-kita {
    height: 60vh;
    position: relative;
}

/* logo and menu on map */

.logo-box {
    display: inline-block;
    position: absolute;
    top: -30px; 
    left: 50px; 
}

.menu-box {
    display: inline-block;
    position: absolute;
    top: 0px; 
    left: 30px; 
}

/* leaflet popups */

.leaflet-popup-content {
    color: #ffffff;
    background: #000;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 15px;
    text-align: center;
}

.leaflet-popup-content a:link,
.leaflet-popup-content a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

/*.leaflet-popup-content a:hover,
.leaflet-popup-content a:active {
    border-bottom: 1px solid #ffffff;
}*/

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #000;
    border-radius: 0;
}

/* kita-list */
.kita-list {
    text-align: center;
}

/* 12 columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.kita-district {
    margin-top: 90px;
    text-transform: uppercase;
}

/* kita-detail*/

.kita-detail {
    background: linear-gradient(to bottom, #fff 0%, #fff 33%, rgb(243, 166, 167) 33%, rgb(243, 166, 167) 100%);
}

.kita-contact {
    margin-top: 70px;
    background-color: #000;
    color: #fff;
    padding: 30px 30px;
}
.kita-img {
    margin-top: 120px;
}

.kita-contact ul {
    list-style-type: none;
}

.kita-contact a:link,
.kita-contact a:visited {
    color: #fff;
    text-decoration: none;
}

.kita-infos {
    background-color: #f7dc6f;
    padding: 30px 30px;
}

.kita-infos ul {
    list-style-type: none;
}