/* basic setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* map*/

.map {
    height: 100vh;
    position: relative;
}

.map-kita {
    height: 60vh;
    position: relative;
}

/* logo and menu on map */

.logo-box {
    display: inline-block;
    position: absolute;
    top: -30px; 
    left: 50px; 
}

.menu-box {
    display: inline-block;
    position: absolute;
    top: 0px; 
    left: 30px; 
}

/* leaflet popups */

.leaflet-popup-content {
    color: #ffffff;
    background: #000;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 15px;
    text-align: center;
}

.leaflet-popup-content a:link,
.leaflet-popup-content a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

/*.leaflet-popup-content a:hover,
.leaflet-popup-content a:active {
    border-bottom: 1px solid #ffffff;
}*/

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #000;
    border-radius: 0;
}

