{% load staticfiles %}
<html>
    <head>
        <title>Lieblingsplatz</title>
        <!-- Leaflet -->
        <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
        <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Leaflet Markercluster -->
        <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        <!-- Bootstrap 
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">-->
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- Google Font PT -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 

        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        
    </body>
</html>