{% load staticfiles %}
<html>
    <head>
        <title>Lieblingsplatz</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
        <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
    </head>
    <body>
        {% block content %}
        {% endblock %}
        
        <div class="logo-box">
            <img src="{% static "img/logo.png" %}" alt="Lieblingsplatzlogo.">
        </div>
        <div class="menu-box">
            <img src="{% static "img/menu-bg.png" %}" alt="Lieblingsplatzlogo.">
        </div>
    </body>
</html>