<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>Lieblingsplatz</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color: #FFFFFF;
			margin:0;
			height:100%;
		}
	</style>

	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=320" />
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700&subset=latin' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:italic&subset=latin' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'>


	<!-- end copy -->

  </head>
  <body>
	
	<!-- copy these lines to your document: -->

	<div id="lieblingsplatz_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="Lieblingsplatz.hyperesources/lieblingsplatz_hype_generated_script.js?29127"></script>
	</div>

	<!-- end copy -->


	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>+ FRÖBEL-PÄDAGOGIK
</div>
		<div>+ WALDORF-PÄDAGOGIK

</div>
		<div>SORTIEREN
</div>
		<div>PÄDAGOGISCHER ANSATZ
</div>
		<div>+ INTEGRATION VON
   KINDERN MIT BEHINDERUNG
</div>
		<div>+ GESUNDHEIT

</div>
		<div></div>
		<div>+ SITUATIONSANSATZ
</div>
		<div>+ NATUR- UND UMWELTPÄDAGOGIK
</div>
		<div>+ SPRACHE, MEHRSPRACHIG

</div>
		<div>+ NATURWISSENSCHAFTLICHE
   GRUNDLAGEN

</div>
		<div>+ FREINET-PÄDAGOGIK
</div>
		<div>LISTE
</div>
		<div>+ RELIGIONSPÄDAGOGIK
</div>
		<div>+ KÖRPER UND BEWEGUNG
</div>
		<div>BESONDERE ANGEBOTE
</div>
		<div>+ ARBEITERWOHLFAHRT
</div>
		<div>EINRICHTUNGSART
</div>
		<div>+ TAGESMUTTER
</div>
		<div>+ EIGENBETRIEB
</div>
		<div>AUFNAHMEALTER
</div>
		<div>+ KINDERTAGESSTÄTTE
</div>
		<div>+ AB      MONATEN
</div>
		<div>ÖFFNUNGSZEITEN
</div>
		<div>+ INTERKULTURELLE  
   PÄDAGOGIK
</div>
		<div>TRÄGERART
</div>
		<div>+ EMMI PIKLER
</div>
		<div>6:30
</div>
		<div>+ FREIER TRÄGER
</div>
		<div>+ MONTESSORI
</div>
		<div>0
</div>
		<div>+ REGGIO-PÄDAGOGIK
</div>
		<div>+ KUNST UND MUSIK

</div>
		<div>+ ELTERN-INITIATIV
</div>
		<div>+ SAMSTAGS GEÖFFNET
</div>
		<div>17:00
</div>
		<div>FILTER LÖSCHEN
</div>
		<div>+ SONNTAGS GEÖFFNET
</div>
		<div>- SITUATIONSANSATZ
</div>
		<div>- INTERKULTURELLE  
- PÄDAGOGIK
</div>
		<div>- EMMI PIKLER
</div>
		<div>- FRÖBEL-PÄDAGOGIK
</div>
		<div>- REGGIO-PÄDAGOGIK
</div>
		<div>- MONTESSORI
</div>
		<div>- INTEGRATION VON
- KINDERN MIT BEHINDERUNG
</div>
		<div>- NATUR- UND UMWELTPÄDAGOGIK
</div>
		<div>- FREINET-PÄDAGOGIK
</div>
		<div>- KÖRPER UND BEWEGUNG
</div>
		<div>- KUNST UND MUSIK

</div>
		<div>- WALDORF-PÄDAGOGIK

</div>
		<div>- GESUNDHEIT

</div>
		<div>- SAMSTAGS GEÖFFNET
</div>
		<div>- SONNTAGS GEÖFFNET
</div>
		<div>- TAGESMUTTER
</div>
		<div>- KINDERTAGESSTÄTTE
</div>
		<div>- FREIER TRÄGER
</div>
		<div>- ELTERN-INITIATIV
</div>
		<div>- ARBEITERWOHLFAHRT
</div>
		<div>- EIGENBETRIEB
</div>
		<div>- SPRACHE, MEHRSPRACHIG 

</div>
		<div>- NATURWISSENSCHAFTLICHE
- GRUNDLAGEN

</div>
		<div>- RELIGIONSPÄDAGOGIK

</div>
		<div>- AB      MONATEN
</div>
		<div>- SONNTAGS OFFEN
</div>
		<div>Kita Müggelstraße 
Müggelstraße 19 / 20
10247 Berlin

Leitung: Martina Pohl

Fon: +49 (0)30. 294 65 52
Fax: +49 (0)30. 27 58 99 72
mueggelnews@kita.de
www.mueggelkita.de
</div>
		<div>DOWNLOADS & LINKS
KITA-Flyer  (PDF)
Träger Pfefferwerk

</div>
		<div>FRIEDRICHSHAIN</div>
		<div>INFOS
Einrichtungsart{{kita_type}}
Träger
{{kita_owner}}
Öffnungszeiten{{kita_opening_times}}
Pädagogischer SchwerpunktSituationsansatz
Thematischer SchwerpunktInterkulturelle Pädagogik, Körper und Bewegung
Besondere AngeboteSpät- und Übernachtbetreuung möglich
Aufnahmealterab 18 Monate8 Plätze unter drei Jahren26 Plätze über drei Jahren </div>
		<div>Kindertagesstätte Müggelstraße</div>
		<div>TAGS
Pfefferwerk   |   Kita   |   Eigene Köchin   |    Integrationskita   |   Kinderbetreuung ab 9 Wochen   |   Friedrichshain   |   eigener Garten   


</div>
		<div>KONTAKT & ANFRAGE
</div>
		<div>Schwerpunkt unserer pädagogischen Arbeit ist die Sprachentwicklung im Zusammenhang mit der Förderung von Medienkompetenz. 
</div>
		<div>NACH ÄHNLICHEN KITAS SUCHEN 
</div>
		<div>Kindertagesstätte Müggelstraße</div>
		<div>KONTAKT</div>
		<div>
</div>
		<div>SHARE US
</div>
		<div>DAS PROJEKT</div>
		<div>DAS TEAM
</div>
		<div>KONTAKT
</div>
		<div>Und hier steht ein kleiner Text von uns und so weiter und so fort.</div>
		<div>Und hier muss noch unser Kontakt hin und so weiter und so fort. So könnt ihr uns erreichen, bla bla bla</div>
		<div>Pippi Langstrumpf ist, wie Sie merken, wenn Sie sich die Mühe machen, das Manuskript zu lesen, ein einer kleiner Übermensch in der Gestalt eines kleines Kindes, in ein ganz normales Milieu gestellt. Dank ihrer übernatürlichen Superkräfte und einiger anderen Umstände ist sie ganz unabhängig von Erwachsen und gestaltet ihr Leben so, wie es ihr gefällt. Bei Zusammenstößen mit großen Leuten, hat sie stets das letzte Wort.</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
